# Compiled Object files
*.slo
*.lo
*.o
*.out
*.plist
*.dSYM
*.db
*.dat

# All exercises
ex15
ex16
ex17
ex18
ex19
ex20
ex22
ex24
ex25
ex26
devpkg

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
